@mixin borders {
    border-radius: 5px;
}

@mixin margins {
  padding: 0;
  margin: 0;
}

@mixin buttons($color) {
    background-color: $color;
    color: white;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 10px;
    font-size: 1.3rem;
    margin-left: 25px;
    border-radius: 2px;
    border-style: none;
    box-shadow: 2px 2px 5px $color / 2;
    max-width: 100px;
    max-height: 40px;
}

.header {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  h2 {
    color: $text;
  }
  .add {
    @include buttons($blue);
  }
}
.main {
  margin: 0;
  width: 100%;
  background-color: $blue;
  padding: 2%;
  display: flex;
  flex-direction: column;

  .list-container {
    @include margins;
    width: 100%;
    background-color: #fff;
    @include borders;
  }

  .recipe {
    @include margins;
    padding-top: 1%;
    max-height: 100%;
    background-color: #fff;
  }
}

ul.recipe_list {
  @include margins;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;
}

li.list_item {
  list-style-type: none;
  margin-right: 0;
  padding: 1%;
  border-style: none;
  background-color: white;
  box-shadow: 2px 2px 5px $text;
  margin-top: 4%;
  width: 93%;
  border-radius: 5px;
  color: $text;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
